In [1]:
import pandas as pd

In [3]:
pd.DataFrame([[1, 2, 3, 4], [5, 6, 7, 8]], columns=['ha', 'fa', 'da', 'la'])

   ha  fa  da  la
0   1   2   3   4
1   5   6   7   8